<div class="contenedor">

    <i class="fab fa-airbnb icon"></i>
    <app-login></app-login>
    <app-register></app-register>

    <body class="he">

        <div>


            <form action="/action_page.php">

                <div class="letras">
                    Reserva Alojamientos, hoteles y mucho mas en airbnb
                </div>

                <label class="size1" for="fname"> Donde </label>
                <br>
                <input type="" class="size3" id="fname" name="firstname" placeholder="Cualquier lugar">



                <label class="size0" for="lname">Llegada</label>
                <label class="size0" for="lname">Salida</label>

                <div class="dates">
                    <input type="date" class="date" id="lname" name="lastname" placeholder="">
                    <input type="date" class="date" id="lname" name="lastname" placeholder="">

                </div>


                <label class="size" for="country">Adultos</label>
                <label class="size" for="country"> Niños</label>
                <br>

                <select class="form" id="Adultos" name="Adultos">
              <option class="size4" value="1">1</option>
              <option class="size4" value="2">2</option>
              <option class="size4" value="3">3</option>
            </select>

                <select class="form" id="Niños" name="Niños">
          <option class="size4" value="0">0</option>
          <option class="size4" value="1">1</option>
          <option class="size4" value="2">2</option>
          <option  class="size4" value="3">3</option>
        </select>

                <div> <input type="button" value="Buscar"> </div>
            </form>
        </div>

    </body>

</div>


<div>

</div>

<body>

    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
            <img src="/assets/apto1.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">La ubicación del departamento es increible, altamente recomendada! Tuvimos todas las noches conciertos en vivo desde el balcón ya que se ve toda la ciudad</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
            <img src="/assets/apto2.jpeg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
            <img src="/assets/apto3.jpeg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>



</body>