<body>


    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Inciar Sesion</button>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="/assets/usuario .png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Correo</b></label>
                <input type="text" placeholder="@Correo" name="uname" required>

                <label for="psw"><b>Contraseña</b></label>
                <input type="password" placeholder="contraseña" name="psw" required>

                <button type="submit" (click)="login()">Iniciar sesion </button>
                <label>
            <input type="checkbox" checked="checked" name="remember"> Recordar
          </label>

            </div>

            <div class="container">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal)
                modal.style.display = "none";
        }
    </script>

</body>